
* {
  width: 100%;
  box-sizing: border-box;
  margin: .2em 0;
}

body {
  padding: .3em 1em;
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
}

p {
  margin: 0 0 0.7em;
}

button {
  width: 15em;
  height: 2.5em;
}

header {
  background-color: #57c372;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}

/* Border outlines interfere with icon */
header:before {
  background-color: #57c372;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* border: 2px solid #000000; */
  border-radius: 2px;
}

header:after {
  background-color: #57c372;
  content: "";
  position: absolute;
  z-index: -1;
  top: .5em;
  left: .5em;
  right: .5em;
  bottom: .5em;
  /* border: 2px solid #000000; */
  border-radius: 2px;
}


header, header * {
  width: unset;
  position: relative;
}

header h2 {
  padding: 1em;
}

header .icon {
  height: 6em;
  position: absolute;
  top: -2em;
  right: -5em;
}

section {
  position: relative;
  background-color: #daeedf;
  border: 1px solid gray;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1.2em 1em .5em 2.5em;
  max-width: 600px;
  text-align: left;
}

section:first-child {
  margin-top: .6em;
  margin-bottom: .6em;
}

/* Helvetica doesn't have great line-height spacing */
p, div {
  line-height: 1.3em;
}

strong {
  font-weight: bold;
}

code {
  background: white;
  padding: .2em;
  border-radius: 5px;
}

hr {
  margin-top: 1rem;
}

#intro {
  background: transparent;
  border-style: none;
}

.step_number {
  box-sizing: content-box;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  scale: 80%;
  font-weight: normal;

  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  background: white;
  border: 3px solid black;
}

.step_number span {
  position: absolute;
  top: 3px;
  left: 0;
}

.step_number.step_4 span {
  padding-right: 3px;
}

.icon.small {
  width: 1.2em;
  display: inline;
  position: relative;
  top: .5em;
  margin: 0;
}

#resources {
  background-color: unset;
  border: unset;
  padding: 0;
}

#resources p {
  margin: 0 0 0.3em;
}

.uneditable_code {
  background-color: #f3fff6;
  font-family: monospace;
  border: 1px solid gray;
  border-radius: 2px;
  padding: 0.5em;
  margin-bottom: 1em;
}

#toggle_exclude {
  margin-top: 1em;
  width: fit-content;
}

#auto_excluded_keys_only {
  font-family: monospace;
}

#auto_excluded_keys_only br {
  line-height: 0rem;
}

.togglee {
  overflow: hidden;
  height: 0;
  margin: 0;
}

.expanded {
  height: fit-content;
  transition: height 70ms ease-out;
  margin: initial;
}

.message {
  position: absolute;
  top: -1em;
  left: 0;
}

.error_container {
  border: 1px solid red;
  padding: 0 .2em;
  border-radius: 2px;
}

.error_output {
  color: red;
}

.icon.error {
  filter: brightness(0) saturate(100%) invert(29%) sepia(86%) saturate(5309%) hue-rotate(0deg) brightness(99%) contrast(109%);
}

.ok, .hidden {
  display: none;
}

label, input {
  display: inline-block;
  width: fit-content;
}

.field_pair {
  margin-bottom: 1em;
}

.field_pair.both .floating_label {
  display: block;
  margin-bottom: .2em;
}

.field_pair.label {
  display: block;
  margin: 0;
}

.one_line_field_container {
  width: 100%;
  display: table;
}

#custom_values_container input {
  width: 100%;
  display: table-cell;
}

#custom_values_container label {
  width: 15em;
  display: table-cell;
}

.example {
  font-size: 0.8em;
  color: #606060;
}

#ignore_anywhere_container { position: relative; }

button {
  color: black;
  text-align: left;
}
button a {
  text-decoration: none;
  color: inherit;
}
button[disabled] {
  pointer-events: none;
  color: gray;
}

.download_icon, .upload_icon { text-decoration: underline;  }

/*#reset_ignore {
  display: flex;
  align-items: center;
}

#reset_ignore span {
  flex-grow: 0;
}

.close_icon {
  fon*/t-size: 1.5em;
}
